body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url(../images/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 2px;
}

.menu a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	border-right: 17px solid rgba(0, 0, 0, 0);
	border-left: 17px solid rgba(0, 0, 0, 0);
}

.menu a:hover {
	background-color: #FFDD00;
	border-radius: 4px;
	padding: 12px 0px;
	transition: all 0.1s ease-in;
	border-right: 17px solid #FFDD00;
	border-left: 17px solid #FFDD00;
}

.titles_first {
	font: 40px Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}

.titles h1 {
	font-size: 75px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.button {
	background: #fed136;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.button:hover {
	background-color: #99E77E;
	transition: all 0.2s ease-in;

}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.title p {
	color: #777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
	padding-bottom: 120px;


}

.services_item {
	width: 270px;
	float: left;
	text-align: center;
}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p {
	font-size: 14px;
	color: #a19f9f;
	line-height: 1.55em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 65px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 28px;
} 

#about {
	margin: 0 80px 0 80px;
}

.row {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-top: 60px;
}

.row h3 {
	font:bold 18px;
}

.row p {
	font-size: 15px;
	color: #c7c7c7;
}

#about .text {
	float: left;
    width: 38%;
    text-align: right;
    margin-right: 30px; 
}

#about .text2 {
	float: right;
    width: 35%;
    text-align: left;
    margin-left: 30px;
}
.a2 {
	padding-left: 41%;
}

footer {
	height: 100px;

}
footer p {
  font-size: 14px;
  color: rgb(85, 85, 85);
  text-align: center;
  margin-top: 120px;
}



/* **************************************************
        BARRA DE NAVEGACION Y MENU NORMAL
****************************************************/
/* Barra de navegacion (contiene al nav mini menu) */
.navbar-menu {
	margin: 0 auto;
	max-width: 1000px;
	width: calc(100%);
}
.navbar-menu .menu {
	
	display: block;
	text-align: center;
}
.navbar-menu .menu li {
	display: inline-block;
}
.navbar-menu .menu li:hover > .submenu {
	display: block;
	-webkit-animation-name: showSubMenu;
	-webkit-animation-duration: .4s;
}
.navbar-menu .menu li ul {
	display: none;
	position: absolute;
}
.navbar-menu .menu li ul li {
	
	display: block;
}
.navbar-menu .menu li ul li a:active {
	-webkit-animation-name: hideSubMenu;
	-webkit-animation-duration: .4s;
}
/******************************************************
                        MINI MENU
******************************************************/
/* Mini menu */
.navbar-mini-menu {
	
	display: none;
	    
}
.navbar-mini-menu .menu-select {
	padding: 25px 0 25px;
}
.navbar-mini-menu .menu-select .btn-select {
	background: url(../images/icon.png) no-repeat;
	cursor: pointer;
	position: absolute;
	height: 30px;
	width: 10%;
	right: 10px;
	top: 10px;
}
.navbar-mini-menu .mini-menu-options {
	display: block;
	background:#000;
}
.navbar-mini-menu .mini-menu-options li {
	display: block;
}
.navbar-mini-menu .mini-menu-options li .submenu {
	display: none;
}
.navbar-mini-menu .mini-menu-options li:focus {
	outline: 0;
}
.navbar-mini-menu .mini-menu-options li:focus > .submenu {
	display: block;
	-webkit-animation-name: showSubMenu;
	-webkit-animation-duration: .4s;
}
.navbar-mini-menu .mini-menu-options li a {
	display: block;
	padding: 25px 0 25px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	transition: 0.4s;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.navbar-mini-menu .mini-menu-options li a:hover {
	
background-color: #fed136;
}

/* ***************************************************
                      ANIMACIONES
*****************************************************/
@-webkit-keyframes showSubMenu {
 0% {
 transform: scale(0, 0);
}
 100% {
 transform: scale(1, 1);
}
}
 @-webkit-keyframes hideSubMenu {
 0% {
 transform: scale(1, 1);
}
 100% {
 transform: scale(0, 0);
}
}

/*****************************************************                       MEDIAQUERIES
*****************************************************/
@media screen and (max-width: 800px) {
/* Elimina los margenes al nav */
.navbar-menu {
	margin: 0;
}
/* Esconde el menu normal */
.navbar-menu .menu {
	display: none;
}
/* Muestra el mini menu */
.navbar-mini-menu {
	display: block;
}
/* Esconde la lista del mini menu */
.navbar-mini-menu .mini-menu-options {
	display: none;
}

}


/*EFFECT*/
.os-animation {
 opacity: 0;
}
.os-animation.animated {
 opacity: 1;
}
.staggered-animation {
 opacity: 0;
}
.staggered-animation.animated {
 opacity: 1;
}
