body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url(../images/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 2px;
}

.menu a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	border-right: 17px solid rgba(0, 0, 0, 0);
	border-left: 17px solid rgba(0, 0, 0, 0);
}

.menu a:hover {
	background-color: #FFDD00;
	border-radius: 4px;
	padding: 12px 0px;
	transition: all 0.1s ease-in;
	border-right: 17px solid #FFDD00;
	border-left: 17px solid #FFDD00;
}

.titles_first {
	font: 40px Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}

.titles h1 {
	font-size: 75px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.button {
	background: #fed136;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.button:hover {
	background-color: #99E77E;
	transition: all 0.2s ease-in;

}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.title p {
	color: #777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
	padding-bottom: 120px;


}

.services_item {
	width: 270px;
	float: left;
	text-align: center;
}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p {
	font-size: 14px;
	color: #a19f9f;
	line-height: 1.55em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 65px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 28px;
} 

#about {
	margin: 0 80px 0 80px;
}

.row {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-top: 60px;
}

.row h3 {
	font:bold 18px;
}

.row p {
	font-size: 15px;
	color: #c7c7c7;
}

#about .text {
	float: left;
    width: 38%;
    text-align: right;
    margin-right: 30px; 
}

#about .text2 {
	float: right;
    width: 35%;
    text-align: left;
    margin-left: 30px;
}
.a2 {
	padding-left: 41%;
}

footer {
	height: 100px;

}
footer p {
  font-size: 14px;
  color: rgb(85, 85, 85);
  text-align: center;
  margin-top: 120px;
}
